.container{
    position: relative;
    font-size: large;
    text-align: center;
}
.centered{
    position: absolute;
    top: 35%;
    right: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: large;
}
#logo{
    margin-bottom: 10%;
    padding: 2%;
}
#mouse-click{
    margin-top: 35%;
}
h1,h6{
    margin-top: 4%;
}

#aboutUs{
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
  }
  #whatwedo{
    text-align: center;
    font: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    padding: 0.6rem;
  }
  .hide{
      display: none;
  }

#portfolio{
    text-align: center;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }

#whatwedo{
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    padding: 0.6rem;
  }
.column{
    width:33.33%;
    /* margin: 2px; */

  }