.container{
    position: relative;
    font-size: large;
    text-align: center;
}
.centered{
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: large;
}
#logo{
    margin-bottom: 10%;
    padding: 2%;
}
#mouse-click{
    margin-top: 35%;
}

#aboutUs{
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
  }

#whatwedo{
    text-align: center;
    font: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    padding: 0.6rem;
  }
  .hide{
      display: none;
  }

#portfolio{
    text-align: center;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18%;
  }

#whatwedo{
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
.column{
    float: left;
    width:33.33%;
    padding: 2px;
    
  }
.column1{
    float: left;
    width: 25%;
    padding: 5px;
  }
.column2{
    margin-left: 50%;
  }
.hide{
    display:none;
  }
h2,p{
  font-size:larger
}

form{
    margin-left: 12%;
}
select{
    margin-top: 6%;
}
.btn{
    background-color: #04AA6D;
    color: white;
    margin-top: 4%;
    margin-left: 50%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    }

/* Style the submit button with a specific background color etc */

input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }    
/* p,h1,h6{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-left: 5%;

} */
.copyRight{
    text-align: center;
    margin-left: 25%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }